<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DotNetSeleniumExtras.WaitHelpers" version="3.11.0" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net472" />
  <package id="Selenium.Support" version="4.10.0" targetFramework="net472" requireReinstallation="true" />
  <package id="Selenium.UndetectedChromeDriver" version="1.0.7" targetFramework="net472" requireReinstallation="true" />
  <package id="Selenium.WebDriver" version="4.10.0" targetFramework="net472" requireReinstallation="true" />
  <package id="System.IO" version="4.3.0" targetFramework="net472" />
</packages>